[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
	branch = main
[submodule "blog-content"]
	path = content
	url = ../blog-content.git
	branch = main
