[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
	branch = master
[submodule "blog-content"]
	path = content
	url = ../blog-content.git
	branch = main
