<div class="comments">
  <script src="https://giscus.app/client.js"
        data-repo="jmarcelomb/blog"
        data-repo-id="R_kgDOLqw7yA"
        data-category="Announcements"
        data-category-id="DIC_kwDOLqw7yM4C1Z6O"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="transparent_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
  </script>
</div>
